Flask==0.10.1
Flask-SQLAlchemy==2.1
Jinja2==2.7.3
MarkupSafe==0.23
PyYAML==3.10
SQLAlchemy==1.0.9
Werkzeug==0.9.6
beautifulsoup4==4.3.2
gunicorn==19.1.1
itsdangerous==0.24
nltk==2.0.4
numpy==1.8.0
psycopg2==2.6.1
pyserial==2.7
requests==2.8.1
virtualenv==1.11.4
wsgiref==0.1.2
